<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Manipulating Excel with PHPExcel</title>
        <meta name="viewport" content="width=device-width">

        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <h2>Exporting Done!</h2>
            <p>You can download the exported Excel file <a href='output.xlsx'>here</a>.</p>
        </div>
            
    </body>
</html>


